.parent {
    display: flex;
    height: 300px;
    flex-direction: row;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
    width: 100px;
    height: 100px;
    border: 1px solid green;
}
.elem {
    width: 40px;
    height: 60px;
    order: -1;
    border: 1px solid red;
} 