#wrapper{
    width: 700px;
    border: 1px solid #000;
    margin: 50px auto;
    margin-bottom: 0;
}
.nav{
    margin-top: 0;
    display: flex;
    flex-direction: row;
    background-color: #484848;
}

.nav a{
    padding: 10px 15px;

    text-decoration: none;
    color: #fff;
    background-color: #484848;
    max-width: px;
    font: bold 16px Arial;
    box-sizing: border-box;
}

.nav .active, a:hover{
    background-color: #fff;
    color: #484848;
    box-sizing: border-box;
} 

.content h1{
    text-align: center;
    margin-bottom: 10px;
}

.content{
    text-align: justify;
}

.content p{
    font: 17px/20px "Times New Roman";
    padding: 0 10px;
}

p a{
    text-decoration: none;
    font-weight: bold;
    color:  blue;
}

p a:hover{
    text-decoration: underline;
    color:  green;
}